/* Scrollbar customizado para a div de campeões */
#lengthchamps::-webkit-scrollbar {
    width: 12px;
    background: black;
}

#lengthchamps::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 6px;
}

#lengthchamps::-webkit-scrollbar-button {
    background: red;
}

/* Firefox */
#lengthchamps {
    scrollbar-color: red black;
    scrollbar-width: thin;
}

.mouse {
    background-size: 100%;
    transition: all 0.2s;
}

.mouse:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.button {
    cursor: pointer;
}

.tdNome {
    text-align: start;
}

.tdValor {
    text-align: end;
    color: red;
}